@import './variables';

.container-fluid {
    max-width: 1440px;
}

.wrapper {
    max-width: 1140px;
    &.inner {
        @media(min-width: 768px) {
            padding-left: 85px;
            padding-right: 85px;
        }

    }
} 

body {
    font-family: $font_regular;

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: currentColor;
        }

        &.btn-pr {
            background-color: $color_primary;
            color: white;
            padding: .4rem 1.55rem;
            display: inline-block;
        }
    
        &.btn-inline {
            color: $color_primary;
            border-bottom: 1px solid currentColor;
            font-weight: 300;
        }
    
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            cursor: pointer;
        }

        &.nav {
            li {
                &:hover,
                &.active {
                    color: $color_primary;
                    font-weight: 600;
                }
            }
        }
    }

    hr {
        opacity: 1;
        color: rgba(229, 229, 229, 1);  
    }

    .container-fluid {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    .title {
        font-family: $font-title;
        color: $color_primary;
        font-weight: 500;
    }

    .small-title {
        font-family: $font_cursive;
        font-size: 24px;
        &.pre-line {
            &::before {
                content: '';
                display: inline-block;
                margin-bottom: 3px;
                margin-right: 8px;
                width: 75px;
                height: 2px;
                background-color: $color_highlight;
                @media(max-width: 768px) {
                    display: block;
                    height: 4px;
                    margin: 0 auto;
                    transform: translateY(35px);
                }   
            }
        }
        &.under-line {
            &::after {
                content: '';
                display: block;
                width: 75px;
                height: 2px;
                background-color: $color_highlight;
                margin: 5px auto;

            }
        }

    }

    .text-pale {
        color: rgba(176, 176, 176, 1);
        font-weight: 300;
        ;
    }

    .breadcrumbs {
        color: $color_primary;
        font-weight: 300;
        &::before {
            content: "";
            display: inline-block;
            margin-bottom: 3px;
            margin-right: 8px;
            width: 75px;
            height: 2px;
            background-color: currentColor;  
            @media(max-width: 576px) {
                width: 40px;
            } 
        }

        a {
            &:not(:last-child) {
                &::after {
                    content: ">";
                    margin: 0 .2rem 0 .3rem;
                }
            }
        }
    }


}

