@import './variables';

body {
    font-family: $font_regular;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            cursor: pointer;
            &:hover,
            &.active {
                color: $color_primary;
                font-weight: 500;
            }
        }

    }

    .container-fluid {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    .title {
        font-family: $font-title;
        color: $color_primary;
        font-weight: 500;
    }

    .small-title {
        font-family: $font_cursive;
        font-size: 24px;
        &::before {
            content: '';
            display: inline-block;
            margin-bottom: 3px;
            margin-right: 8px;
            width: 75px;
            height: 2px;
            background-color: $color_highlight;
            @media(max-width: 768px) {
                display: block;
                height: 4px;
                margin: 0 auto;
                transform: translateY(35px);
            }
        }
    }

    .text-pale {
        color: rgba(176, 176, 176, 1);
        font-weight: 300;
        ;
    }

    h1 {
        font-size: 48px;
        @media(max-width: 576px) {
            font-size: 40px;
        }
    }

    h2 {
        font-size: 40px;
        @media(max-width: 576px) {
            font-size: 28px;
        }
    }

    .btn {
        &-pr {
            background-color: $color_primary;
            color: white;
            padding: .4rem 1.55rem;
            display: inline-block;
        }

        &-inline {
            color: $color_primary;
            border-bottom: 1px solid currentColor;
        }

    }


}

