@import './variables';

.footer {
    background-color: $color_primary;
    background-image: url('../imgs/footer-pattern.png');
    color: white;

    &-list {
        font-family: $font_title;
        font-size: 20px;
    }

    &-list,
    &-social {
        width: max-content;
        margin: 0 auto;
    }

    [class^='col-'] {
        &:not(:last-child) {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 2px;
                height: 80%;
                background-color: white;
                @media(max-width: 992px) {
                    width: 200px;
                    height: 2px;
                    top: unset;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        @media(max-width: 992px) {
            text-align: center;
            &:first-child() {
                &::after {
                    display: none;
                }
            }
        }
    }
}