@import './variables';

.header {
    position: fixed;
    left: 0;
    right: 0;

    &.bg-solid {
        background: rgb(255, 255, 255);
    }

    &-menu {
        .user-utils {
            .cart-icon {
                position: relative;
                .cart-items {
                    font-size: 10px;
                    width: 12px;
                    height: 12px;
                    line-height: 10px;
                    font-weight: 800;
                    position: absolute;
                    top: -1px;
                    right: 40%;
                    transform: translateX(50%);
                    color: white;
                    background-color: $color_highlight;
                    border-radius: 50%;
                    @media(max-width: 992px) {
                        font-size: 12px;
                        width: 16px;
                        height: 16px;
                        line-height: 12px;
                        top: -5px;
                        right: 50%;
                    }
                }
            }
        }
    }

    &-nav {
        font-family: $font_title;
        font-size: 20px;
    }
}