$font_regular: 'Fira Sans Condensed', sans-serif;
$font_title: 'Cormorant Infant', serif;
$font_cursive: 'Bilbo Swash Caps', cursive;

$color_primary: rgba(0, 86, 141, 1);
$color_highlight: rgba(240, 156, 91, 1);
